@model EmployeeConnect.Models.PO
@using EmployeeConnect.Common;
@using EmployeeConnect.Helper;
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/declined.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>CT</title>
</head>
<body>
    <script>
        microsoftTeams.initialize();

        function validateForm() {
            debugger;
             let taskInfo = {
             //   title: null,
                height: null,
                width: null,
                url: null,
                fallbackUrl: null,
            };

            //taskInfo.title = "Purchase Order";
            taskInfo.height = "medium";
            taskInfo.width = "medium";

                taskInfo.url = "@(ApplicationSettings.BaseUrl)" + "/purchaseorder";
                taskInfo.height = "@(TaskModelUIConstant.PurchaseOrder.Height)";
                taskInfo.width = "@(TaskModelUIConstant.PurchaseOrder.Width)";

            // Set fallback URL
            taskInfo.fallbackUrl = taskInfo.url;
            microsoftTeams.tasks.submitTask(taskInfo, "@ApplicationSettings.AppId");
            return true;
        }
    </script>
    <form method="POST" id="purchaseorder" action="/purchaseorder" onSubmit="return validateForm()">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content content-radius">
                <div class="modal-header custom-header">
                    <h5 class="modal-title">
                        Purchase order no 848930 has been declined.
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="two-btn">
                        <button type="submit" class="cancel">Undo</button>
                        <button type="button" class="BCT" data-toggle="modal" data-target="#Next"  onclick="submit('purchaseorder');">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
    microsoftTeams.initialize();

        submitHandler = (err, result) => {
            debugger;
            console.log(`Submit handler - err: ${err}`);
            alert("Result = " + JSON.stringify(result) + "\nError = " + JSON.stringify(err));
        };

        function submit(type) {
            debugger;
            let taskInfo = {
             //   title: null,
                height: null,
                width: null,
                url: null,
                fallbackUrl: null,
            };

            //taskInfo.title = "Purchase Order";
            taskInfo.height = "medium";
            taskInfo.width = "medium";

                taskInfo.url = "@(ApplicationSettings.BaseUrl)" + "/purchaseorder";
                taskInfo.height = "@(TaskModelUIConstant.PurchaseOrder.Height)";
                taskInfo.width = "@(TaskModelUIConstant.PurchaseOrder.Width)";


            // Set fallback URL
            taskInfo.fallbackUrl = taskInfo.url;
            microsoftTeams.tasks.submitTask(taskInfo, "@ApplicationSettings.AppId");
        }
    </script>
</body>