@model EmployeeConnect.Models.EandTModel
@using EmployeeConnect.Common;
@using EmployeeConnect.Helper;

<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/Content/Event.css" />*@
    <link href="~/Content/eventandtrainingnew.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    @*<script type="text/javascript" src="./index.js"></script>*@
    <title>Events and Trainings</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row header">
                    <div class="col-12">
                        <div class="heading">My calendar</div>
                        @*<div class="left-chev"></div>
                        <div class="right-chev"></div>*@
                        @*<div class="month-date">@DateTime.Now.ToString("MMM, yyyy")</div>*@
                        <div class="month-date">
                            <select style="border-style:none; width:100px">
                                <option>January</option>
                                <option>February</option>
                                <option>March</option>
                                <option>April</option>
                                <option>May</option>
                                <option>June</option>
                                <option selected>July</option>
                                <option>August</option>
                                <option>September</option>
                                <option>October</option>
                                <option>November</option>
                                <option>December</option>
                            </select>
                        </div>
                            <div class="my-calendar">My calendar</div>                           
                        </div>
                </div>
                <div class="msg-for-header">
                    Mandatory trainings are automatically addded to your list
                </div>
                <br />
                <div class="row">
                    @foreach (var item in Model.EventGrid)
                    {
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 small-dev">

                            <div class="dates">
                                <div class="date">
                                    <div class="date"><bold>@item.ETDate.ToString("d MMMM")</bold></div>
                                </div>
                            </div>
                            <div class="card custom-card">
                                <div class="card-header header-flag">
                                    <span class="flag"></span>
                                    <span class="event">
                                        @if (item.ETFlag == "E")
                                        {
                                            <span>Event</span>
                                        }
                                        else
                                        {
                                            <span>Training</span>
                                        }

                                    </span>
                                </div>

                                <div class="card-body body-top" onclick="submitEvent('@item.ETID');">
                                    <div class="card-title main-title-msg">
                                        @Html.DisplayFor(modelItem => item.ETTitle)
                                    </div>
                                    <div class="time-icon">
                                        <div class="event-time"> @Html.DisplayFor(modelItem => item.ETStartTime) -  @Html.DisplayFor(modelItem => item.ETEndTime)</div>
                                    </div>
                                    <div class="location-icon">
                                        <div class="location"> @Html.DisplayFor(modelItem => item.ETType)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row header2">
            <div class="col-12">
                <div class="heading hd2">Other upcoming events and trainings</div>
                @*<div class="month-date">@DateTime.Now.ToString("MMM, yyyy")</div>*@
                <div class="month-date">
                    <select style="border-style:none; width:100px">
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option selected>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                    </select>
                </div>
                @*<div class="down-chev"></div>*@
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.UpcomingEventGrid)
            {
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-11 small-dev">

                    <div class="card custom-card2">
                        <div class="card-header header-flag">
                            <span class="flag"></span>
                            <span class="event">
                                @if (item.ETFlag == "E")
                                {
                                    <span>Event</span>
                                }
                                else
                                {
                                    <span>Training</span>
                                }
                            </span>
                        </div>
                        <div class="card-body" onclick="submitEvent('@item.ETID');">
                            <div class="card-title main-title">
                                @Html.DisplayFor(modelItem => item.ETTitle)
                            </div>
                            <div class="time-icon2">
                                <div class="event-time for-header2-dateandtime">
                                    @Html.DisplayFor(modelItem => item.ETStartDate)
                                </div>
                            </div>
                            <div class="web-icon2">
                                <div class="web for-header2-stream"> @Html.DisplayFor(modelItem => item.ETType)</div>
                            </div>
                            <div class="cal-icon">
                                <div class="cal for-header2-cal" onclick="AddToMyEventsGrid('@item.ETID')">Add to calendar</div>
                            </div>
                        </div>
                    </div>
                </div>
             }
        </div>
    </div>

    <script type="text/javascript">

        function AddToMyEventsGrid(value) {
        debugger;
        location.href = '@Url.Action("EventAndTrainingTab","Home")?id='+value;
    }
    microsoftTeams.initialize();

        submitHandler = (err, result) => {
            debugger;
            location.href = '@Url.Action("EventAndTrainingTab","Home")?id=' + result.eventId;
            //alert("Result = " + JSON.stringify(result) + "\nError = " + JSON.stringify(err));
        };

        function submitEvent(eventId) {

            debugger;
            let taskInfo = {
             //   title: null,
                height: null,
                width: null,
                card:null,
                url: null,
                fallbackUrl: null,
            };




            var url = "/GetEventInfo?eventId=" + eventId;
            $.ajax({
                    url: url,
                    type: 'get',
                    contentType: 'application/json',
                success: function (data, textStatus, jQxhr) {
                        taskInfo.card = JSON.parse(data);
                        taskInfo.height = "@(TaskModelUIConstant.ETCard.Height)";
                        taskInfo.width = "@(TaskModelUIConstant.ETCard.Width)";
                        microsoftTeams.tasks.startTask(taskInfo, submitHandler);
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        console.log('error', errorThrown);
                    }
            });

        }
    </script>
</body>

