@model EmployeeConnect.Models.EandTModel
@using EmployeeConnect.Common;
@using EmployeeConnect.Helper;
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/Content/Event.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="./index.js"></script>
        <title>Events and Trainings</title>
    </head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row header">
                    <div class="col-12">
                        <div class="heading">My events and trainings</div>
                        <div class="today">Today</div>
                        <div class="left-chev"></div>
                        <div class="right-chev"></div>
                        <div class="month-date">@DateTime.Now.Month, @DateTime.Now.Year</div>
                        <div class="down-chev"></div>
                    </div>
                </div>
                <div class="msg-for-header">
                    Mandatory trainings are automatically addded to your list
                </div>
                <div class="row date-row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2">
                                <div class="date">16</div>
                                <div class="day">Thursday</div>
                            </div>
                            <div class="col-2">
                                <div class="date">17</div>
                                <div class="day">Friday</div>
                            </div>
                            <div class="col-2">
                                <div class="date">23</div>
                                <div class="day">Thursday</div>
                            </div>
                            <div class="col-2">
                                <div class="date">28</div>
                                <div class="day">Tuesday</div>
                            </div>
                            <div class="col-2">
                                <!-- add date here -->
                            </div>
                            <div class="col-2">
                                <!-- add date here -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-12">
                        <div class="card-deck custom-card-deck">
                            @foreach (var item in Model.EventGrid)
                            {
                                <div class="col-2">
                                    <div class="card custom-card">
                                        <div class="card-header header-flag">
                                            <span class="flag"></span>
                                            <span class="event">
                                                @if (item.ETFlag == "E")
                                                {
                                                <span>Event</span>
                                                }
                                                else
                                                {
                                                   <span>Training</span>
                                                }

                                            </span>
                                        </div>

                                        <div class="card-body" onclick="submitEvent('@item.ETID');">
                                            <div class="card-title main-title-msg">
                                                @Html.DisplayFor(modelItem => item.ETTitle)
                                            </div>
                                            <div class="time-icon">
                                                <div class="event-time"> @Html.DisplayFor(modelItem => item.ETStartTime) -  @Html.DisplayFor(modelItem => item.ETEndTime)</div>
                                            </div>
                                            <div class="location-icon">
                                                <div class="location"> @Html.DisplayFor(modelItem => item.ETType)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>

                </div>

                @*<div class="row">
                    <div class="col-12">
                        <div class="card-deck custom-card-deck">
                            <div class="col-2">
                                <!-- add data here -->
                            </div>
                            <div class="col-2">
                                <div class="card custom-card">
                                    <div class="card-header header-badge">
                                        <span class="badge-icon"></span>
                                        <span class="event">Training</span>
                                        <span class="check">
                                            <span class="mandatory">Mandatory</span>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title main-title-msg">
                                            Platform overviews training
                                        </div>
                                        <div class="time-icon">
                                            <div class="event-time">02:00 - 04:00 PM</div>
                                        </div>
                                        <div class="web-icon">
                                            <div class="web">Online stream</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <!-- add data here -->
                            </div>
                            <div class="col-2">
                                <!-- add data here -->
                            </div>
                            <div class="col-2">
                                <!-- add data here -->
                            </div>
                            <div class="col-2">
                                <!-- add data here -->
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
        <div class="row header2">
            <div class="col-12">
                <div class="heading">Other upcoming events and trainings</div>
                <div class="today">Today</div>
                <div class="month-date">@DateTime.Now.Month, @DateTime.Now.Year</div>
                <div class="down-chev"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-deck custom-card-deck2">
                    @foreach (var item in Model.UpcomingEventGrid)
                    {
                        <div class="col-2">
                            <div class="card custom-card2">
                                <div class="card-header header-flag">
                                    <span class="flag"></span>
                                    <span class="event">
                                        @if (item.ETFlag == "E")
                                        {
                                            <span>Event</span>
                                        }
                                        else
                                        {
                                            <span>Training</span>
                                        }
                                    </span>
                                </div>
                                <div class="card-body">
                                    <div class="card-title main-title">
                                        @Html.DisplayFor(modelItem => item.ETTitle)
                                    </div>
                                    <div class="time-icon2">
                                        <div class="event-time for-header2-dateandtime">
                                            @Html.DisplayFor(modelItem => item.ETStartDate)
                                        </div>
                                    </div>
                                    <div class="web-icon2">
                                        <div class="web for-header2-stream"> @Html.DisplayFor(modelItem => item.ETType)</div>
                                    </div>
                                    <div class="cal-icon">
                                        <div class="cal for-header2-cal" onclick="AddToMyEventsGrid('@item.ETID')">Add to calendar</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    </div>
            </div>
        </div>
    </div>
    <script>
    function AddToMyEventsGrid(value) {
        debugger;
        location.href = '@Url.Action("EventAndTrainingTab","Home")?id='+value;
}
    microsoftTeams.initialize();

        submitHandler = (err, result) => {
            debugger;
            result = result.substring(2, result.length);
            location.href='@Url.Action("EventAndTrainingTab","Home")?id='+result;
            console.log(`Submit handler - err: ${err}`);
            //alert("Result = " + JSON.stringify(result) + "\nError = " + JSON.stringify(err));
        };

        function submitEvent(eventId) {

            debugger;
            let taskInfo = {
             //   title: null,
                height: null,
                width: null,
                card:null,
                url: null,
                fallbackUrl: null,
            };

           


            var url = "/GetEventInfo?eventId=" + eventId;
            $.ajax({
                    url: url,
                    type: 'get',
                    contentType: 'application/json',
                    success: function (data, textStatus, jQxhr) {
                        taskInfo.card = data;
                        taskInfo.height = "@(TaskModelUIConstant.ETCard.Height)";
                        taskInfo.width = "@(TaskModelUIConstant.ETCard.Width)";
                        microsoftTeams.tasks.startTask(taskInfo, submitHandler);
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        console.log('error', errorThrown);
                    }
            });

        }
    </script>
</body>

