@model EmployeeConnect.Models.NewsModel
@using System;
@using EmployeeConnect.Common;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>News</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="lt">Latest News</div>
                <div class="for-you dis-in">For you</div>
                <div class="Explore dis-in exp-for-mobile2"><a target="_blank" href="https://news.microsoft.com/en-in/">Explore more</a></div>
                <div id="root" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#root" data-slide-to="0" class="active"></li>
                        <li data-target="#root" data-slide-to="1"></li>
                        <li data-target="#root" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" id="carousel">
                        <div class="carousel-item active">
                            <div class="card-deck col-12 custom-deck">
                                @for (int i = 0; i < 4; i++)
                                {
                                    <div class="card col-3 @(i ==0 ? "custom-main-card" : "custom-sub-cards")">
                                        <div class="business">@Html.DisplayFor(model => Model.news[i].Category)</div>
                                        <img src="@Html.DisplayFor(model => Model.news[i].NewsThumbnailUrl)" class="@(i ==0 ? "main-card-img" : "sub-card-img")" onclick="submit('@Model.news[i].NewsID.ToString()');" />
                                        <div class="card-body">
                                            <h6 class="card-title text" onclick="submit('@Model.news[i].NewsID.ToString()');">
                                                @Html.DisplayFor(model => Model.news[i].NewsTitle)
                                            </h6>
                                            <div class="author-month">
                                                <p class="card-text author">
                                                    <small class="text-muted">@Html.DisplayFor(model => Model.news[i].NewsBy)</small>
                                                    <span class="dot"></span>
                                                    <small class="text-muted date">@Html.DisplayFor(model => Model.news[i].NewsDateTIme)</small>
                                                </p>
                                                <p class="card-text text-muted view">
                                                    <small class="text-muted views">@Html.DisplayFor(model => Model.news[i].NoOfViews) <span>views</span></small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card-deck col-12 custom-deck">
                                @for (int i = 5; i < 9; i++)
                                {
                                    <div class="card col-3 col-md-3 @(i ==5 ? "custom-main-card" : "custom-sub-cards")">
                                        <div class="business">@Html.DisplayFor(model => Model.news[i].Category)</div>
                                        <img src="@Html.DisplayFor(model => Model.news[i].NewsThumbnailUrl)" class="@(i ==5 ? "main-card-img" : "sub-card-img")" onclick="submit('@Model.news[i].NewsID.ToString()');" />
                                        <div class="card-body">
                                            <h6 class="card-title text" onclick="submit('@Model.news[i].NewsID.ToString()');">
                                                @Html.DisplayFor(model => Model.news[i].NewsTitle)
                                            </h6>
                                            <div class="author-month">
                                                <p class="card-text author">
                                                    <small class="text-muted">@Html.DisplayFor(model => Model.news[i].NewsBy)</small>
                                                    <span class="dot"></span>
                                                    <small class="text-muted date">@Html.DisplayFor(model => Model.news[i].NewsDateTIme)</small>
                                                </p>
                                                <p class="card-text text-muted view">
                                                    <small class="text-muted views">@Html.DisplayFor(model => Model.news[i].NoOfViews) <span>views</span></small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card-deck col-12 custom-deck">
                                @for (int i = 10; i < 14; i++)
                                {
                                    <div class="card col-3  @(i ==10 ? "custom-main-card" : "custom-sub-cards")">
                                        <div class="business">@Html.DisplayFor(model => Model.news[i].Category)</div>
                                        <img src="@Html.DisplayFor(model => Model.news[i].NewsThumbnailUrl)" class="@(i ==10 ? "main-card-img" : "sub-card-img")" onclick="submit('@Model.news[i].NewsID.ToString()');" />
                                        <div class="card-body">
                                            <h6 class="card-title text" onclick="submit('@Model.news[i].NewsID.ToString()');">
                                                @Html.DisplayFor(model => Model.news[i].NewsTitle)
                                            </h6>
                                            <div class="author-month">
                                                <p class="card-text author">
                                                    <small class="text-muted">@Html.DisplayFor(model => Model.news[i].NewsBy)</small>
                                                    <span class="dot"></span>
                                                    <small class="text-muted date">@Html.DisplayFor(model => Model.news[i].NewsDateTIme)</small>
                                                </p>
                                                <p class="card-text text-muted view">
                                                    <small class="text-muted views">@Html.DisplayFor(model => Model.news[i].NoOfViews) <span>views</span></small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- carousol 2 -->
        <div class="row custom-row">
            <div class="col-12">
                <div class="lt dis-in">Trending stories</div>
                <div class="Explore dis-in exp-for-mobile2"><a target="_blank" href="https://www.msn.com/en-us/news/bing/">Explore more</a></div>
                <div id="car-root" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators carousel2 ">
                        <li data-target="#car-root" data-slide-to="0" class="active"></li>
                        <li data-target="#car-root" data-slide-to="1"></li>
                        <li data-target="#car-root" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" id="carousel">
                        <div class="carousel-item active">
                            <div class="card-deck col-12 custom-deck">
                                @for (int i = 15; i < 19; i++)
                                {
                                    <div class="card col-3 @(i ==15 ? "custom-main-card" : "custom-sub-cards sub-card2")">
                                        <div class="technology">@Html.DisplayFor(model => Model.news[i].Category)</div>
                                        <img src="@Html.DisplayFor(model => Model.news[i].NewsThumbnailUrl)" class="@(i ==15 ? "main-card-img" : "sub-card-img")" onclick="submit('@Model.news[i].NewsID.ToString()');" />

                                        <div class="card-body">
                                            <h6 class="card-title text car2-title" onclick="submit('@Model.news[i].NewsID.ToString()');">
                                                @Html.DisplayFor(model => Model.news[i].NewsTitle)
                                            </h6>
                                            <div class="author-month">
                                                <p class="card-text author">
                                                    <small class="text-muted">@Html.DisplayFor(model => Model.news[i].NewsBy)</small>
                                                    <span class="dot"></span>
                                                    <small class="text-muted date">@Html.DisplayFor(model => Model.news[i].NewsDateTIme)</small>
                                                </p>
                                                <p class="card-text text-muted view">
                                                    <small class="text-muted views">@Html.DisplayFor(model => Model.news[i].NoOfViews) <span>views</span></small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card-deck col-12 custom-deck">
                                @for (int i = 20; i < 24; i++)
                                {
                                    <div class="card col-3 col-md-3  @(i ==20 ? "custom-main-card" : "custom-sub-cards sub-card2")">
                                        <div class="business">@Html.DisplayFor(model => Model.news[i].Category)</div>
                                        <img src="@Html.DisplayFor(model => Model.news[i].NewsThumbnailUrl)" class="@(i ==20 ? "main-card-img" : "sub-card-img")" onclick="submit('@Model.news[i].NewsID.ToString()');" />
                                        <div class="card-body">
                                            <h6 class="card-title text car2-title" onclick="submit('@Model.news[i].NewsID.ToString()');">
                                                @Html.DisplayFor(model => Model.news[i].NewsTitle)
                                            </h6>
                                            <div class="author-month">
                                                <p class="card-text author">
                                                    <small class="text-muted">@Html.DisplayFor(model => Model.news[i].NewsBy)</small>
                                                    <span class="dot"></span>
                                                    <small class="text-muted date">@Html.DisplayFor(model => Model.news[i].NewsDateTIme)</small>
                                                </p>
                                                <p class="card-text text-muted view">
                                                    <small class="text-muted views">@Html.DisplayFor(model => Model.news[i].NoOfViews) <span>views</span></small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card-deck col-12 custom-deck">
                                @for (int i = 25; i < 29; i++)
                                {
                                    <div class="card col-3 col-md-3 @(i ==25 ? "custom-main-card" : "custom-sub-cards sub-card2")">
                                        <div class="business">@Html.DisplayFor(model => Model.news[i].Category)</div>
                                        <img src="@Html.DisplayFor(model => Model.news[i].NewsThumbnailUrl)" class="@(i ==25 ? "main-card-img" : "sub-card-img")" onclick="submit('@Model.news[i].NewsID.ToString()');" />
                                        <div class="card-body">
                                            <h6 class="card-title text car2-title" onclick="submit('@Model.news[i].NewsID.ToString()');">
                                                @Html.DisplayFor(model => Model.news[i].NewsTitle)
                                            </h6>
                                            <div class="author-month">
                                                <p class="card-text author">
                                                    <small class="text-muted">@Html.DisplayFor(model => Model.news[i].NewsBy)</small>
                                                    <span class="dot"></span>
                                                    <small class="text-muted date">@Html.DisplayFor(model => Model.news[i].NewsDateTIme)</small>
                                                </p>
                                                <p class="card-text text-muted view">
                                                    <small class="text-muted views">@Html.DisplayFor(model => Model.news[i].NoOfViews) <span>views</span></small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    microsoftTeams.initialize();
        submitHandler = (err, result) => {
        };


        function submit(NewsId) {
            let taskInfo = {
                height: null,
                width: null,
                card:null,
                url: null,
                fallbackUrl: null,
            };

            var url = "/GetNewsInfo?NewsId=" + NewsId;
            $.ajax({
                    url: url,
                    type: 'get',
                    contentType: 'application/json',
                    success: function (data, textStatus, jQxhr) {
                        taskInfo.card = data;
                        taskInfo.height = "@(TaskModelUIConstant.NewsCard.Height)";
                        taskInfo.width = "@(TaskModelUIConstant.NewsCard.Width)";
                        microsoftTeams.tasks.startTask(taskInfo, submitHandler);
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        console.log('error', errorThrown);
                    }
            });
        }
    </script>
</body>
</html>