@model EmployeeConnect.Models.PO
@using EmployeeConnect.Common;
@using EmployeeConnect.Helper;
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet"
          type="text/css"
          media="screen"
          href="~/Content/purchaseOrder.css" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Merchant Popup card</title>
</head>

<body>
    <script src="~/Scripts/teamsapp.js"></script>
    <script>
        microsoftTeams.initialize();
           submitHandler = (err, result) => {
            debugger;
            console.log(`Submit handler - err: ${err}`);
           // alert("Result = " + JSON.stringify(result) + "\nError = " + JSON.stringify(err));
        };
         function submitApprove(poNo) {
            debugger;
             var poTaskInfo = {
                 poNumber: poNo,
                 action: "podecline",
            }
             microsoftTeams.tasks.submitTask(poTaskInfo); 

        }
    </script>
    <form id="podecline">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header mh">
                    <h5>
                        Purchase order no. @TempData["data"]
                    </h5>
                    <div class="total-h">Total Amount</div>
                    <span class="vendor">Vendor no. @ViewBag.vendorNo</span><br />
                    <span class="store">Store A</span>
                    <div class="T-amount">
                        <span class="currency">&#x20b9;</span>
                        <span class="t-amount">@ViewData["Sum"]</span>
                    </div>
                </div>
                <div class="modal-body mb">
                    <div class="row">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="th-head">Item code</td>
                                    <td class="th-head">Description</td>
                                    <td class="th-head">Unit price</td>
                                    <td class="th-head">Quantity</td>
                                    <td class="th-head th-total">Total</td>
                                </tr>
                                @foreach (var item in Model.PoDetails)
                                {
                                    <tr>
                                        <td class="cnt">@Html.DisplayFor(modelItem => item.ItemCode)</td>
                                        <td class="cnt desc">
                                            @Html.DisplayFor(modelItem => item.ItemDescription)
                                        </td>
                                        <td class="cnt">
                                            <span class="currency1">&#x20b9;</span>  @Html.DisplayFor(modelItem => item.UnitPrice)
                                        </td>
                                        <td class="cnt">@Html.DisplayFor(modelItem => item.Quantity)</td>
                                        <td class="cnt th-total">
                                            <span class="currency1">&#x20b9;</span> @Html.DisplayFor(modelItem => item.Total)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer foo">
                        <button type="submit" class="decline" onclick="submitApprove('@TempData["data"]');">Decline</button>
                        <button type="submit" class="approve" onclick="submitApprove('@TempData["data"]');">Approve</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
