@model EmployeeConnect.Models.PO
@using EmployeeConnect.Common;
@using EmployeeConnect.Helper;

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="./Content/Tasks.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="@("https://unpkg.com/@microsoft/teams-js@1.4.1/dist/MicrosoftTeams.min.js")"></script>
<title>Tasks Tab</title>

<body>
    <div class="container-fluid">
        <header class="heading">Pending submissons</header>
        <div class="card-deck custom-card-deck">
            <div class="card custom-card">
                <div class="card-body">
                    <img src="./Images/timesheet_icon.PNG" alt="time-sheet" class="time-sheet " />
                    <div class="mobile-timesheet">Pending Timesheet</div>
                    <h5 class="card-title">12</h5>
                    <h6 class="title-head">Days of pending timesheet</h6>
                    <div class="full-timesheet">
                        Fill timesheet
                        <span class="chevron-right"></span>
                    </div>
                    <span class="chevron-right desk"></span>
                </div>
            </div>
            <div class="card custom-card">
                <div class="card-body br-mb">
                    <img src="./Images/expense_icon.PNG"
                         alt="expenses-sheet"
                         class="expenses-sheet" />
                    <div class="mobile-EM">Expense Manager</div>
                    <h5 class="card-title">
                        <span class="currency">&#x20b9;</span> 25,000
                    </h5>
                    <h6 class="title-head">Amount of unreconciled expenses</h6>
                    <div class="Submit-expenses">
                        Submit expenses
                        <span class="chevron-right"></span>
                    </div>
                    <span class="chevron-right desk mr-up"></span>
                </div>
            </div>
        </div>
        <div class="pending-approval">
            <header class="heading">Pending approvals</header>
            <div class="card-header heading2 mrg-for-mb">Pending Approvals</div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title accordion-toggle"
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#Porder">
                            <span class="title"> Purchase order <span>(@Model.PendingPO.Length)</span> </span>
                        </h6>
                    </div>
                    <span class="chevron-right desk ht-for-mobile1"></span>
                </div>
                <div id="Porder" class="panel-collapse">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr class="head-title-color">
                                    <th>PO no.</th>

                                    <th>Description</th>
                                    <th>Vendor name</th>
                                    <th>Vendor no.</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PendingPO)
                                {
                                    <tr class="row-highlight">
                                        <td id="poNoid" class="po-no">@Html.DisplayFor(modelItem => item.PoNumber)</td>
                                        <td class="Description">@Html.DisplayFor(modelItem => item.Description)</td>
                                        <td class="vendor-name">@Html.DisplayFor(modelItem => item.VendorName)</td>
                                        <td class="vendor-no">@Html.DisplayFor(modelItem => item.vendorNo)</td>

                                        <td class="amount">
                                            <span>&#x20b9;</span> @Html.DisplayFor(modelItem => item.TotalAmount)
                                        </td>
                                        <td></td>
                                        <td class="reviewButton" style="cursor:pointer; color:blue;" onclick="submitPurchaseOrder('@item.PoNumber','@item.vendorNo');">Review</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title accordion-toggle"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#Invoice">
                                <span class="title"> Invoice <span>(@Model.ApprovedPO.Length)</span> </span>
                            </h6>
                            <span class="chevron-right desk ht-for-mobile2"></span>
                        </div>
                    </div>
                    <div id="Invoice" class="panel-collapse">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr class="head-title-color">
                                        <th>Invoice no.</th>
                                        <th>PO no.</th>
                                        <th>Description</th>
                                        <th>Vendor name</th>
                                        <th>Vendor no.</th>
                                        <th>Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ApprovedPO)
                                    {
                                        <tr class="row-highlight">
                                            <td id="invoiceNoId" class="Invoice-no">@Html.DisplayFor(modelItem => item.PoNumber)</td>
                                            <td class="po-no1">@Html.DisplayFor(modelItem => item.PoNumber)</td>
                                            <td class="Description">@Html.DisplayFor(modelItem => item.Description)</td>
                                            <td class="vendor-name">@Html.DisplayFor(modelItem => item.VendorName)</td>
                                            <td class="vendor-no">@Html.DisplayFor(modelItem => item.vendorNo)</td>
                                            <td class="amount">
                                                <span>&#x20b9;</span> @Html.DisplayFor(modelItem => item.TotalAmount)
                                            </td>
                                            <td class="reviewButton" style="cursor:pointer; color:blue;" onclick="submitPurchaseOrder('@item.InvoiceNo','@item.vendorNo');">Review</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title accordion-toggle collapsed"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#Inventory">
                                <span class="title"> Inventory <span>(0)</span> </span>
                            </h6>
                            <span class="chevron-right desk ht-for-mobile3"></span>
                        </div>
                    </div>
                    <div id="Inventory" class="panel-collapse">

                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    microsoftTeams.initialize();
    submitHandler = (err, result) => {

        if (result.action == "podecline") {
            let taskInfo = {
                InvoiceNo: null,
                height: null,
                width: null,
                url: null,
                fallbackUrl: null,
            };


            taskInfo.url = "@(ApplicationSettings.BaseUrl)" + "/podecline?poNo=" + result.poNumber + "&POreason=" + result.reason + "&POComment=" + result.comment;
            taskInfo.height = "@(TaskModelUIConstant.PoDecline.Height)";
            taskInfo.width = "@(TaskModelUIConstant.PoDecline.Width)";


            // Set fallback URL
            taskInfo.fallbackUrl = taskInfo.url;
            microsoftTeams.tasks.startTask(taskInfo, submitHandler);

        }
        if (result.action == "decline") {
            debugger;
            let taskInfo = {
                //   title: null,
                height: null,
                width: null,
                url: null
            };

            taskInfo.url = "@(ApplicationSettings.BaseUrl)" + "/declined?poNo=" + result.PONo;
            taskInfo.height = "@(TaskModelUIConstant.Declined.Height)";
            taskInfo.width = "@(TaskModelUIConstant.Declined.Width)";

            // Set fallback URL
            taskInfo.fallbackUrl = taskInfo.url;
            microsoftTeams.tasks.startTask(taskInfo, submitHandler);
        }
        if (result.action == "cancelPo") {
            microsoftTeams.tasks.submitTask();
        }
     /*   if (result.action == "decline") {
            microsoftTeams.tasks.submitTask();
        }*/
        if (result.action == "closePending") {
                microsoftTeams.tasks.submitTask();
        }
        if (result.action == "donedecline") {
            microsoftTeams.tasks.submitTask();
        }


        };
    
        function submitPurchaseOrder(poNo, vendorNumber) {
          //  debugger;
            var PONumber = poNo;
            var vendorNo = vendorNumber;
            let taskInfo = {
                InvoiceNo: null,
                height: null,
                width: null,
                url: null,
                fallbackUrl: null,
            };

            //taskInfo.title = "Purchase Order";
            taskInfo.height = "medium";
            taskInfo.width = "medium";

                taskInfo.url = "@(ApplicationSettings.BaseUrl)" + "/purchaseorder?poNumber="+PONumber+"&vendorno="+vendorNo;
                taskInfo.height = "@(TaskModelUIConstant.PurchaseOrder.Height)";
                taskInfo.width = "@(TaskModelUIConstant.PurchaseOrder.Width)";


            // Set fallback URL
            taskInfo.fallbackUrl = taskInfo.url;
            microsoftTeams.tasks.startTask(taskInfo, submitHandler);
        }
    </script>

</body>

